model:
    activation: 'LeakyReLU'
    bloc_act: null
    use_middle_activation: true
    dropout: 0.4
    fc_dims: null
    freeze_weights: false
    backbone: 'net2'
    pretrained: true
    n_downsamples: 3
    img_size: 32
    block: 'basic'
    replace_stride_with_dilation: null
    inplanes: 64

dataset:
    extract_patches: false
    delete_previous: false
    extract_patches_method: 'all'
    patch_size: 128
    crop_size: 32
    center_noise: 10
    stride: 64
    min_breast_fraction_roi: 0.7
    n_jobs: -1
    cropped_imgs: true
    ignore_diameter_px: 15
    patch_images_path: '/home/data_rois/'
    train_neg_to_pos_ratio: 10
    get_lesion_bboxes: true
    for_detection_net: false
    normalization: 'z_score'

dataloaders:
    train_batch_size: 128
    val_batch_size: 256

data_aug:
    prob: 0

training:
    criterion: 'BCEWithLogitsLoss'
    optimizer: 'Adam'
    optimizer_args:
        lr: 0.0001
    lr_scheduler: 'StepLR'
    lr_scheduler_args:
        step_size: 7
        gamma: 0.1
    n_epochs: 30
    best_metric: 'auroc'
    resume_training: false
    early_stopping: true
    early_stopping_args:
        min_diff: 0.0001
        max_epoch: 3
    log_iters: 100
    max_iters_per_epoch: null
    experiment_name: 32_net2_01