model:
    activation: 'LeakyReLU'
    dropout: 0.2
    fc_dims: [512, 512]
    freeze_weights: false
    backbone: 'resnet18'
    pretrained: true

dataset:
    extract_patches: false
    delete_previous: false
    extract_patches_method: 'all'
    patch_size: 224
    stride: 100
    min_breast_fraction_roi: 0.5
    n_jobs: -1
    cropped_imgs: true
    ignore_diameter_px: 15
    patch_images_path: '/home/data_rois/'
    train_neg_to_pos_ratio: 1
    normalization: 'min_max'

dataloaders:
    train_batch_size: 128
    val_batch_size: 128

data_aug:
    prob: 0

training:
    criterion: 'BCEWithLogitsLoss'
    optimizer: 'SGD'
    optimizer_args:
        lr: 0.0001
        momentum: 0.9
    lr_scheduler: 'StepLR'
    lr_scheduler_args:
        step_size: 10
        gamma: 0.1
    n_epochs: 30
    best_metric: 'f1_score'
    resume_training: false


experiment_name: 'test_01'
